<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="/styles/styles.css"/>
  <script src="/scripts/ak.js" type="module"></script>
  <script src="/scripts/scripts.js" type="module"></script>
</head>
<body>
  <header></header>
  <main>
    <div>
      <p><a href="/"><span class="icon icon-delta-widget"></span>Delta Air Lines</a></p>
    </div>
    <div>
      <ul>
        <li>
          <p><a href="/us/en/book">Book</a></p>
        </li>
        <li>
          <p><a href="/us/en/check-in">Check-in</a></p>
        </li>
        <li>
          <p><a href="/us/en/my-trips">My Trips</a></p>
        </li>
        <li>
          <p><a href="/us/en/flight-status">Flight Status</a></p>
        </li>
      </ul>
    </div>
    <div>
      <p><a href="/tools/widgets/toggle"><span class="icon icon-more"></span></a></p>
    </div>
  </main>
  <footer></footer>
</body>
</html>
